/*
Swatch:
	Teal: #44C5C4
	Teal reflective: #5AD3D1
	Orange: #F25143
	Orange shadow: #940205
	White: #fff
*/

html,
body {
	margin: 0;
	padding: 0;
	background: #fafafa;
	color: #111;
	font: 100%/1.5 Verdana, Arial, sans-serif;
}

header {
	background: #44C5C4;
	color: #fff;
	height: 80px;
}
header h1 {
	/* More or less a pasta of the Main page's typography */
	font: 55px/80px "Museo Slab", "Courier New", monotype;
	text-shadow: 2px 2px 0px rgba(14, 174, 172, 0.75);
	filter: dropshadow(color=#0eaeac, offx=1, offy=1);

	margin: 0; /* Resetting browser user-agent styling */
	margin-left: 120px; /* Logo width */
	padding: 0 20px;
}
header .logo {
	position: fixed;
	top: 5px;
	left: 10px;
	z-index: 1;

	width: 120px;
	height: 120px;
	background: url(nbn-public-defender.png) no-repeat;
	background-size: 100%; /* Half size in case mobiles are using the site */
	text-indent: -9999em;
}

footer {
	background: #F25143;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer p {
	margin: 1em;
}
footer a:link,
footer a:visited {
	color: #fff;
}


/* http://leafletjs.com/examples/quick-start.html */
#map {
	height: 320px; /* override with js */
}