/*
Swatch:
	Teal: #44C5C4
	Teal reflective: #5AD3D1
	Orange: #F25143
	Orange shadow: #940205
	White: #fff
*/

html,
body {
	margin: 0;
	padding: 0;
	background: #fafafa;
	color: #111;
	font: 100%/1.5 Verdana, Arial, sans-serif;
}

header {
	background: #44C5C4;
	padding: 1em;
	color: #fff;
	height: 160px; /* height of logo */
}
header h1 {
	font: bold 200%/1.5 "Courier New", monotype;
	margin-left: 160px; /* width of badge */
	padding: 0 1em 0 1em; /* indent from badge */
}
header img {
	position: fixed;
	top: 1em;
	left: 1em;
	/*border: 1px solid #44C5C4;*/
}

footer {
	background: #F25143;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer p {
	margin: 1em;
}
footer a:link,
footer a:visited {
	color: #fff;
}


/* http://leafletjs.com/examples/quick-start.html */
#map {
	height: 320px; /* override with js */
}